portfolio-v2/workflows/JARVIS (Single Agent Workflow).json
{
  "name": "JARVIS (Single Agent Workflow)",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "d5b4de8d-0787-433b-a6ac-3daeb95c091c",
      "name": "When chat message received",
      "webhookId": "jarvis-chat-trigger-0001"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are JARVIS, a calm and capable AI assistant. You have four tools available: Weather_Lookup, Forex_Convert, YouTube_Search, and News_Search. Read the user's message, decide which tool(s) answer it, call them, and reply in 2-4 friendly sentences using the real data returned. If the request spans multiple domains (e.g. weather AND news), call multiple tools in the same turn and combine the results. If nothing matches, just answer conversationally. Never invent data — only state what a tool actually returned. End with a brief, natural offer to help further."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        304,
        0
      ],
      "id": "cf886c84-7d3d-4acc-b250-012b9c6244e4",
      "name": "Supervisor Agent"
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        384,
        272
      ],
      "id": "b77fddb3-dc1e-4f1b-91d7-46e17442a231",
      "name": "Conversation Memory"
    },
    {
      "parameters": {
        "toolDescription": "Get current weather and conditions for any city. Input: city name (e.g. 'Hyderabad' or 'London, UK').",
        "url": "https://api.open-meteo.com/v1/forecast",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "latitude"
            },
            {
              "name": "longitude"
            },
            {
              "name": "current",
              "valueProvider": "fieldValue",
              "value": "temperature_2m,relative_humidity_2m,apparent_temperature,wind_speed_10m,weather_code"
            },
            {
              "name": "daily",
              "valueProvider": "fieldValue",
              "value": "weather_code,temperature_2m_max,temperature_2m_min"
            },
            {
              "name": "forecast_days",
              "valueProvider": "fieldValue",
              "value": "3"
            },
            {
              "name": "timezone",
              "valueProvider": "fieldValue",
              "value": "auto"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        560,
        208
      ],
      "id": "4723e59b-a55a-403b-8fae-fe8b44991a74",
      "name": "Weather_Lookup"
    },
    {
      "parameters": {
        "toolDescription": "Search YouTube and return the top matching video for a song, artist, or playlist. Input: query (e.g. 'Believer Imagine Dragons').",
        "url": "https://www.googleapis.com/youtube/v3/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "part",
              "valueProvider": "fieldValue",
              "value": "snippet"
            },
            {
              "name": "type",
              "valueProvider": "fieldValue",
              "value": "video"
            },
            {
              "name": "maxResults",
              "valueProvider": "fieldValue",
              "value": "1"
            },
            {
              "name": "q"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        880,
        208
      ],
      "id": "bae9e50a-9cdf-4936-8166-1061dd855541",
      "name": "YouTube_Search"
    },
    {
      "parameters": {
        "toolDescription": "Get the latest news headlines on any topic, from the last 24 hours. Input: topic (e.g. 'AI', 'cricket', 'Telangana').",
        "url": "https://newsapi.org/v2/everything",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "q"
            },
            {
              "name": "sortBy",
              "valueProvider": "fieldValue",
              "value": "publishedAt"
            },
            {
              "name": "language",
              "valueProvider": "fieldValue",
              "value": "en"
            },
            {
              "name": "pageSize",
              "valueProvider": "fieldValue",
              "value": "5"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1040,
        208
      ],
      "id": "9fc778a7-2ec1-4336-8cf4-9d3b7cbe3474",
      "name": "News_Search"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "grok-4.3",
          "mode": "list",
          "cachedResultName": "grok-4.3"
        },
        "responsesApiEnabled": false,
        "options": {
          "maxTokens": 2000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        176,
        208
      ],
      "id": "f558328f-507c-4a14-917f-6486ac0709d7",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "toolDescription": "Convert an amount from one currency to another using live exchange rates. Inputs: amount (number), from (source currency ISO code, e.g. USD), to (target currency ISO code, e.g. INR).",
        "url": "https://api.frankfurter.dev/v1/latest",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "amount",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `Amount to convert`, 'string') }}"
            },
            {
              "name": "from",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `Source currency ISO code, e.g. USD`, 'string') }}"
            },
            {
              "name": "to",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `Target currency ISO code, e.g. INR`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        720,
        208
      ],
      "id": "ac9c6175-8c15-4638-856a-477f06d4d68f",
      "name": "Forex_exchange"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Supervisor Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "Supervisor Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Weather_Lookup": {
      "ai_tool": [
        [
          {
            "node": "Supervisor Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "YouTube_Search": {
      "ai_tool": [
        [
          {
            "node": "Supervisor Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "News_Search": {
      "ai_tool": [
        [
          {
            "node": "Supervisor Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Supervisor Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Forex_exchange": {
      "ai_tool": [
        [
          {
            "node": "Supervisor Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "91c39f0f-b4e7-4395-b911-29d2e680e409",
  "meta": {
    "instanceId": "97c32cc2b68499459c7b571cb972a3d31c12f3b17c1b0fd23a8c94c31eb252d4"
  },
  "nodeGroups": [],
  "id": "Is2UutrIIZtOAXq9",
  "tags": []
}