portfolio-v2/workflows/RAG (Basic Flow+HFE_Pinecone).json
{
  "name": "RAG (Basic Flow+HFE_Pinecone)",
  "nodes": [
    {
      "parameters": {
        "formTitle": "PDF Based RAG Chatbot",
        "formDescription": "Upload your PDF to get started with the RAG based Chatbot",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Upload",
              "fieldType": "file"
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        592,
        0
      ],
      "id": "b1a2d29c-bff0-4ad6-9ad7-c3543c8705f8",
      "name": "On form submission",
      "webhookId": "bc1fe805-a2b7-408a-b433-1fc53b803ee2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1792,
        288
      ],
      "id": "2baea0aa-9b1f-443c-b534-787e05a0e54e",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "iPxkjefJvAMlJFf0",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        848,
        256
      ],
      "id": "9afcbc80-503e-4bd4-82fd-f2a817f056e4",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "content": "### Data Flow\n\nThis is the first part of the RAG chatbot, which is the data flow, where the data is ingested into the Vector Store.\n",
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "f7db677a-e383-4ee5-b15c-17d865c4dc40",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### Retrieval Flow\n\nThis is the second part of the RAG chatbot, which is the retrieval part, where based on the user input, the output is provided by the LLM leveraging the knowledge base.\n",
        "height": 176,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        512
      ],
      "typeVersion": 1,
      "id": "dbc61666-fb8a-448d-80ad-6231e563f4b1",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        816,
        512
      ],
      "id": "e2118435-674d-41c2-a4cf-fc4166b4675f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        816,
        688
      ],
      "id": "cb386c2f-130e-4a9e-9437-af3db2d03ccf",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "iPxkjefJvAMlJFf0",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        912,
        816
      ],
      "id": "68948fbf-b41b-4de8-b0d6-4cc196e973bb",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        592,
        512
      ],
      "id": "cdb1ba41-a1c1-4e96-91d1-73c2db9d3047",
      "name": "When chat message received",
      "webhookId": "faf3a48e-5c2a-4623-897d-a9e875be4a9b"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "={{ $json.chatInput }}",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        1024,
        720
      ],
      "id": "5e03f71e-eac2-4725-b83d-168d3d877d28",
      "name": "Simple Vector Store2"
    },
    {
      "parameters": {
        "modelName": "BAAI/bge-large-en-v1.5",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        1504,
        352
      ],
      "id": "a55078b3-2bcf-45f4-aa37-0ac63153d75f",
      "name": "Embeddings HuggingFace Inference",
      "credentials": {
        "huggingFaceApi": {
          "id": "0aKTb21nLkox5O2D",
          "name": "Hugging Face account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "agi-03-n8n",
          "mode": "list",
          "cachedResultName": "agi-03-n8n"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        832,
        -16
      ],
      "id": "d0307214-8883-4bd2-a862-69cc2b53113d",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "LISaRyAqFjIl4t7a",
          "name": "Pinecone account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        []
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store2",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "7c9ad798-60cb-4a05-a6a3-88dd7b6a59b4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6a4e6aaa1ade45fb0a585936f60de34bb2bb7cf25dc55e31593c1d96db64f263"
  },
  "nodeGroups": [],
  "id": "2Y9nntCTPqk72fBq",
  "tags": []
}